<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="IS0-8859-1">
    <title>Конкретный человек</title>
</head>

<body>
<p/>
<div>
    <nobr>
        <a th:href="@{/admin/users/{id}/delete/(id=${user.getId()})}">Delete</a> |
        <a th:href="@{/admin/users/{id}/edit/(id=${user.getId()})}">Edit</a> |
        <a href="/logout">Log Out</a>
    </nobr>
</div>
<p/>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>City of birth</th>
        <th>Username</th>
        <th>Password</th>
    </tr>

    <tr>
        <td th:text="${user.getId()}">VALUE</td>
        <td th:text="${user.getName()}">VALUE</td>
        <td th:text="${user.getAge()}">VALUE</td>
        <td th:text="${user.getCityOfBirth()}">VALUE</td>
        <td th:text="${user.getUsername()}">VALUE</td>
        <td th:text="${user.getPassword()}">VALUE</td>
    </tr>
</table>
</body>

</html>